*/1 * * * * /root/PycharmProjects/cryptobot/start.sh >> /root/crontab.out
*/1 * * * * /root/PycharmProjects/cryptobot/start_price.sh >> /var/www/html/price.txt 
0 * * * * /root/PycharmProjects/cryptobot/restart.sh >> /root/crontab.out 
0 * * * * /root/PycharmProjects/cryptobot/clean.sh >/dev/null 2>&1
0 0 * * * yes | cp /root/PycharmProjects/cryptobot/index.php  /var/www/html/index.php  >/dev/null 2>&1
0 0 * * * yes | cp /root/PycharmProjects/cryptobot/stat.php /var/www/html/stat.php  >/dev/null 2>&1
*/5 * * * * cat /var/www/html/price.txt | grep "Percent change is :" | awk -F: '{if($3<-0.3 || $3>0.3)print$1$2$3}' | sed 's/Percent//g' | sed 's/change//g' |  sed 's/is//g'>/var/www/html/price_filter.txt

*/5 * * * *  /usr/bin/python2.7 /root/PycharmProjects/cryptobot/heikin_ashi.py >> /root/crontab.out
*/5 * * * *  /usr/bin/python2.7 /root/PycharmProjects/cryptobot/enable_market.py >> /root/crontab.out 
*/5 * * * *  /usr/bin/python2.7 /root/PycharmProjects/cryptobot/aftercount.py >> /root/crontab.out
*/5 * * * *  /usr/bin/python2.7 /root/PycharmProjects/cryptobot/order_counts.py >> /root/crontab.out

*/10 * * * *  /usr/bin/python2.7 /root/PycharmProjects/cryptobot/heikin_day.py >> /root/crontab.out

*/15 * * * *  /root/PycharmProjects/cryptobot/start_charts.sh >> /root/crontab.out 

*/30 * * * *  /usr/bin/python2.7 /root/PycharmProjects/cryptobot/btc_ha.py >> /root/crontab.out 
*/30 * * * *  /usr/bin/python2.7 /root/PycharmProjects/cryptobot/btc_status.py >> /root/crontab.out
*/30  * * * * /usr/bin/python2.7 /root/PycharmProjects/cryptobot/sentiment.py >> /root/crontab.out
